<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Perfil Profissional</title>
	<link id="style" rel="stylesheet" type="text/css" href="./../css/style1.css">
</head>
<body>
	<div class="container">
		<main>
			<h1>Perfil Profissional - Gêdhean Alves</h1>
			
			<h2>Dados pessoais</h2>
			<ul id="personalData">
				
			</ul>

			<h2>Formação escolar</h2>
			<ul id="education">
				
			</ul>

			<h2>Idiomas</h2>
			<ul id="idioms">
			
			</ul>

			<h2>Cursos adicionais</h2>
			<ul id="courses">
				
			</ul>

			<h2 style="text-align: center;">Obrigado!</h2>
			<button id="tg-btn" onclick="toggleStyles();">Toggle Styles</button>
		</main>		
	</div>
	<!-- JavaScript goes here -->
	<script type="text/javascript">
		var link = document.getElementById('style');
		var styleOne = true;

		function toggleStyles() {				
			if (link) {
				if(styleOne) {
					styleOne = !styleOne;
					link.href = './../css/style2.css';										
				} else {
					styleOne = !styleOne;
					link.href = './../css/style1.css';
				}
			}
		}
	</script>
</body>
</html>