<!DOCTYPE html>
<html>
  <head>
    <% include(partials/head) %>
  </head>
  <body>
    <% include(pratials/header) %>

    <div class="container">
      <main>
        
      </main>
    </div>
    
    </div>
  </body>
</html>
