<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include("partials/head"); -%>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="../../css/new-cv.css">
  <title>Currículo</title>
  <style>
    .wrapper {
      margin-top: 0px;
    }
    .section:hover, .sec-head:hover {
      border: 2px dashed transparent;
    }
    .section:hover .create-sec-item,  .section:hover .remove-sec-item {
      display: none;
    }
  </style>
</head>
<body>
  <%- include("partials/header"); -%>
  <div class="row gutter-5">
    <div class="col">
      <h1 class="text-center">Seu currículo</h1>
    </div>
  </div>
  <div class="wrapper">
      <%- cvHtml %>
  </div>  
</body>
</html>